body {
  background: yellowgreen;
  color: rgb(red, green, blue);
}

h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto 20px auto;
  font-style: bold;
}

footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 25px;
  padding: 20px;
  margin: auto;
}
h2 {
  text-align: bold;
}

h1 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
p {
text-decoration: chocolate;
}
img {
  width: 500px;
  height: 400px;
}